@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
}


:root{
    --coramareloesc: #8f6a09;
    --coramarelocla: #dfa43899;
    --corciano: #23d8db;
    --corvermelhoesc:#762720;
    --corvermelhocla: #eb2739;

}
body{
    background-color: var(--coramarelocla);
    font-family: 'Comfortaa';
}
header{
    max-width: 1000px;
    min-width: 300px;
    margin: auto;
    text-align: center;
    background-color: var(--corciano);
    border: 1px solid rgba(0, 0, 0, 0.527);
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.406);
}
header h1{
    font-weight: 700;
    color: var(--corvermelhoesc);
}
header p{
    color: var(--corvermelhoesc);
}
header img{
    border-radius: 50%;
    width: 250px;
    height: 270px;
}