@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
}


:root{
    --coramareloesc: #c18e0d;
    --coramarelocla: #dfa43899;
    --corciano: #23d8db;
    --corvermelhoesc:#762720;
    --corvermelhocla: #eb2739;

}
body{
    background-color: var(--coramarelocla);
    font-family: 'Comfortaa';
}
header{
    height: 334px;
    max-width: 1000px;
    min-width: 300px;
    margin: auto;
    text-align: center;
    background-color: var(--corciano);
    border: 1px solid rgba(0, 0, 0, 0.527);
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.406);
    margin-top: 50px;
    border-radius: 5px;
    
}
.textoheader{
    position: relative;
    bottom: 150px;
    left: 50px;
    font-weight: 700;
    color: var(--corvermelhoesc);
    border-radius: 5px;
    
  
}
header h1{
    padding: 20px;
}
header img{
    position: relative;
    top: 35px;
    right: 350px;
    border-radius: 50%;
    width: 250px;
    height: 270px;
}

main{
    background-color: #23d8db;
    width: 450px;
    height: 450px;
    margin: auto;
    margin-top: 200px;
    margin-bottom: 200px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.539);
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.406);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
main div{
    background-color: var(--coramareloesc);
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.717);
    width: 400px;
    height: 150px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: var(--corvermelhoesc);
}
main h1{
    position: relative;
    bottom: 130px;
    color: var(--corvermelhoesc);
}
main h2{
    position: relative;
    bottom: 130px;
    color: var(--corvermelhoesc);

}
main ul{
    position: relative;
    bottom: 100px;
    list-style-type: '\2714\00a0\00a0';
}
main a{
    text-decoration: none;
    color: var(--corvermelhoesc);
}

footer{
    width: 100%;
    height: 25px;
    color: var(--corvermelhocla);
    background-color: var(--corvermelhoesc);
    text-align: center;
}
footer p{
    padding: 2px;
}