@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&family=Rubik:wght@400;500&display=swap');
:root{
    --primary: #713fff;
    --secondary: #3c184e;
    --white: #fff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    font-family: 'Rubik', sans-serif;
    color: var(--secondary);
}
.fullscreen{
    width: 100%;
    height: 100vh;
}
.wrapper{
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
}
header{
    height: 64px;
    display: flex;
    align-items: center;
    gap: 16px;
    font-weight: bolder;
    padding: 16px 0 ;
    height: 80px ;
    
}
main{
    height: calc(100vh-80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 520px;
    
    margin-left: 140px;
    margin-top: 150px;
    max-width: 1150px;
   
}
.title{
    font-family: 'Merriweather',serif;
    font-size: 54px;
}
.description{
    margin: 42px 0;
}
.actions{
    display: flex;
    gap: 16px;
}
.btn{

    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;
    width: 150PX;
}
.filled{
    background-color: var(--primary);
    border-radius: 48px ;
    color: var(--white);
}
.dogwrapper{
    position: absolute;
    top: 0;
    right: 0;
}
.dogwrapper img{
    position: absolute;
    top: 0;
    right: 0;
}
.imgfund{
    height: 670px;
}

.dogfood{
    position: relative;
    top:500px ;
}